{% load static %}
<!DOCTYPE html>

<html>

<head>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


	<link rel='stylesheet' type='text/css' href="{% static 'css/login.css' %}">
</head>

	<div id="login">
		<div class="container text-center">
			<h2 class="form-header">User Login</h2>
			<p class="form-header-small">Please enter your username and password</p>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-primary" type=submit>Login</button>
			</form>
		</div>
	</div>

